<template>
    <h1>{{title}}</h1>
     <div>
          <input type="text" id="textabc">
    <button @click="AddText">Add Todo </button>
    </div>
    <li v-for="task in todoList">
      <div class="">
        <h3>{{task.title}}</h3>
        <p @click="removeTask" :id="task.id">X</p>
      </div>
         
    </li>
</template>

<script>
import Todo from './components/Todo.vue'

export default {
  name: 'App',
  components: {Todo},
  data() {
    return {
      title: "Things todo",
       todoListtext : null,
      todoList: [
        {
          id:1,
          title: "Go the kashmir",
          isDone: true
        },
         {
          id:2,
          title: "Go the Lahore",
          isDone: true
        },
         {
            id:3,
          title: "Go the Multan",
          isDone: true
        },
         {
             id:4,
          title: "Go the Bahawalpur",
          isDone: false
        }
      ]
    }
   
  },
  methods:{
    removeTask(task){
      let id = task.target.id
      this.todoList = this.todoList.filter((item)=> {return item.id != id })
    },
    AddText()
      {
        let title = document.getElementById("textabc").value
        let newid = this.todoList[this.todoList.length - 1].id + 1
         this.todoList.push({id: newid ,title:title,isDone:false })
        document.getElementById("textabc").value =''
      }
  }
}
</script>

<style>
.h1{
  text-align: center;
  color: white;
  font-size: 2%;
  display: flex;

}
.body
{
  background-color: black;
}
</style>
